{% extends 'base.html' %}
{% load static %}
{% block title %}<title>DISCERNDPlay | {{playlist.name | title}} Playlist </title>{% endblock %}
{% block content %}

{% include "_navbar.html" %}

<div class="container mb-5 playlist-detail" style="padding-top: 100px;">
    <div class="row">
        <div class="col-lg-12">
            {% include 'core/player.html' %}
        </div>

        <div class="col-lg-12">
            <p class="lead pfa">Playlist Featured Artists</p>
            {% for track in tracks %}
                {{track.artist}}<br>
            {% endfor %}
        </div>

        
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p class="text-right mt-5">
                return to <a class="btn btn-sm btn-outline-secondary" href="{% url 'app:music' %}">playlists</a>
            </p>
        </div>
    </div>
</div>

<style>
    .pfa {
        padding-top: 100px;
    }

    
</style>

{% include 'footer.html' %}

{% endblock %}